.nav-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.nav-list-item:hover {
  cursor: pointer;
}

.nav-list-item:hover > .nav-icon_primary {
  fill: var(--text-disabled);
}

.nav-list-item:hover > .nav-icon_disabled {
  fill: var(--text-primary-light-standart-text);
}

.nav-list-item:hover > .nav-link_default {
  color: var(--text-disabled);
}

.nav-list-item:hover > .nav-link_disabled {
  color: var(--text-primary-light-standart-text);
}

.nav-link_default {
  color: var(--text-primary-light-standart-text);
}

.nav-link_disabled {
  color: var(--text-disabled);
}

.nav-link_default,
.nav-link_disabled,
.nav-icon_primary,
.nav-icon_disabled {
  transition: var(--common-transition);
}
