.order-details, 
.spinner-block,
.error-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
}

.order-id {
  text-shadow: 0 4px 32px var(--order-id-accent), 0 0 8px var(--order-id-accent), 0 0 16px var(--order-id-accent);
}

.spinner-block {
  width:  100%;
  height: auto;
  gap: 30px;
}

.error-block {
  gap: 20px;
}
