.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 640px;
}

.order-num{
  align-self: center;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.orders-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 350px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
