.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 720px;
  width: 100%;
  height: auto;
  background-color: var(--interface-modal-bg);
  border-radius: var(--modal-border-radius);
}

.close-icon:hover {
  cursor: pointer;
  fill: var(--text-dark-grey-secondary-text);
  transition: var(--common-transition);
}

.modal-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
  align-items: center;
}
