.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  border-radius: 40px;
  padding: 24px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 0 2px 0 rgba(0, 0, 0, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  background: var(--interface-modal-bg);
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.ingredients {
  max-width: 304px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.link {
  position: relative;
  color: var(--text-primary-light-standart-text);
}

.link:hover.link::after{
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  background-color: rgba(58, 58, 85, .2);
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
