:root {
  --interface-bg: #131316;
  --interface-modal-bg: #1c1c21;
  --interface-accent: #4c4cff;
  --interface-active: #4c4cff;
  --interface-input: #2f2f37;
  --interface-success: #0cc;
  --interface-error: #e52b1a;
  --interface-modal-edge: rgba(76, 76, 255, 0.2);
  --text-primary-light-standart-text: #f2f2f3;
  --text-dark-grey-secondary-text: #8585ad;
  --text-disabled: #3a3a55;
  --max-app-width: 1920px;
  --max-content-width: 1240px;
  --max-ingredient-card-width: 272px;
  --common-transition: all .3s ease-in;
  --scroll-hover-color: #6a6a8a;
  --modal-overlay-color: rgba(0, 0, 0, .6);
  --modal-border-radius: 40px;
  --order-id-accent: rgba(76, 76, 255, .5);

  background-color: var(--interface-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

html {
  scrollbar-color: auto !important;
}

#root {
  height: inherit;
}

.constructor-element__price {
  width: 100%;
  max-width: 90px;
}

.constructor-element__action {
  width: 100%;
  max-width: 27px;
}
